accelerate
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
Babel
beautifulsoup4
bitsandbytes
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
comm
dataclasses-json
debugpy
decorator
defusedxml
distro
elastic-transport
elasticsearch
exceptiongroup
executing
fastjsonschema
filelock
fqdn
frozenlist
fsspec
gitdb
GitPython
h11
httpcore
httpx
huggingface-hub
idna
importlib_metadata
ipykernel
ipython
isoduration
jedi
Jinja2
joblib
json5
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_pygments
jupyterlab_server
langchain
langchain-community
langchain-core
langchain-text-splitters
langsmith
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mistune
mpmath
multidict
mypy-extensions
narwhals
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook_shim
numpy
openai
orjson
overrides
packaging
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
prometheus_client
prompt_toolkit
protobuf
psutil
ptyprocess
pure-eval
pyarrow
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
python-dateutil
python-dotenv
python-json-logger
pytz
PyYAML
pyzmq
referencing
regex
requests
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rpds-py
safetensors
scikit-learn
scipy
Send2Trash
sentence-transformers
sentencepiece
six
smmap
sniffio
soupsieve
SQLAlchemy
stack-data
streamlit
sympy
tenacity
terminado
threadpoolctl
tiktoken
tinycss2
tokenizers
toml
tomli
torch
torchaudio
torchvision
tornado
tqdm
traitlets
transformers
types-python-dateutil
typing-inspect
typing_extensions
tzdata
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
wget
yarl
zipp
